@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  /* #58F1FF, #5F83F0, #E54BDA, #FF8D29, #F83A31, #35012F */
  --lightBlue: #58F1FF,
  --darkBlue: #5F83F0,
  --myPink: #E54BDA,
  --myOrange: #FF8D29,
  --myRed: #F83A31,
  --myPurple: #35012F,
  /* --customGradient: 45deg, #58F1FF, #5F83F0, #E54BDA, #FF8D29, #F83A31, #35012F */
  /* --customGradient-bg: linear-gradient(45deg, #58F1FF, #5F83F0, #E54BDA, #FF8D29, #F83A31, #35012F); */
  /* --gradient-bg: linear-gradient(45deg, #58F1FF, #5F83F0, #E54BDA, #FF8D29, #F83A31, #35012F); */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* for intro section CSS */
@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.bg-animated-gradient {
  background: linear-gradient(45deg, #58F1FF, #5F83F0, #E54BDA, #FF8D29, #F83A31, #35012F);
  background-size: 300% 300%;
  animation: gradientShift 6s ease infinite;
}


/* for logo carousel */
@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}

@keyframes marquee-reverse {
  0% { transform: translateX(-50%); }
  100% { transform: translateX(0%); }
}

.animate-marquee {
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  animation: marquee 15s linear infinite;
}

.animate-marquee-reverse {
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  animation: marquee-reverse 15s linear infinite;
}

.hover\:pause:hover {
  animation-play-state: paused;
}

